<div class="container-fluid">
    <div class="row">

        <div class="options-page-title col-12">
            <span class="display-4">Forgot Password</span>
        </div>
    </div>

    @if (ViewBag.EmailSen is not null && ViewBag.EmailSen == true)
    {
        <p class="mark">The password reset email has been sent.</p>
        <br />
    }
    @if (ViewBag.Error is not null && !string.IsNullOrEmpty(ViewBag.Error.ToString()))
    {
        <p>@ViewBag.Error.ToString()</p>
    }
    <form method="post" asp-controller="Login" asp-action="ForgotPassword" class="forgot-password-form">
        @*Email*@
        <div class="row mt-3">
            <div class="col-lg-2 col-12">
                <label class="normal-label forgot-password-label">Account Email:</label>
            </div>
            <div class="col-lg-4 col-12">
                <input name="userEmail" type="email" class="normal-input forgot-password-input" placeholder="Email:" autofocus />
            </div>
        </div>

        <div class="col-12">
            <button type="submit" class="normal-button forgot-password-button">Send email</button>
        </div>

    </form>
</div>


@section Scripts
{
    @*From: /Login/ForgotPassword:Get*@
    @*From: /Login/ForgotPassword:Post*@
    @*From: /Login/ResetPasswordAsync:Post*@
    @if (TempData["Swal"] is not null && (bool)TempData["Swal"]){
        <script type="text/javascript">
        sweetAlert('@TempData["Type"]','@TempData["Title"]','@TempData["Message"]');
        </script>
    }
}
