    @model SetLoginPasswordVm

<form method="post" asp-controller="User" asp-action="SetUserLoginPassword">
    <input asp-for="ApplicationUserEmail" type="text" value="@Model.ApplicationUserEmail" hidden=""/>

    @*Current Password*@
    <div class="row profile-form-group">
        <div class="col-lg-4 col-12">
            <label asp-for="CurrentPassword" class="normal-label text-dark-highlighter"></label>
        </div>
        <div class="col-lg-4 m-auto col-12">
            <input asp-for="CurrentPassword" type="password" class="normal-input" value=""/>
            <span asp-validation-for="CurrentPassword" class="text-danger"></span>
        </div>
    </div>
    @*New Password*@
    <div class="row profile-form-group">
        <div class="col-lg-4 col-12">
            <label asp-for="NewPassword" class="normal-label text-dark-highlighter"></label>
        </div>
        <div class="col-lg-4 m-auto col-12">
            <input asp-for="NewPassword" type="password" class="normal-input" value=""/>
            <span asp-validation-for="NewPassword" class="text-danger"></span>
        </div>
    </div>
    @*New Password Confirm*@
    <div class="row profile-form-group">
        <div class="col-lg-4 col-12">
            <label asp-for="ConfirmNewPassword" class="normal-label text-dark-highlighter"></label>
        </div>
        <div class="col-lg-4 m-auto col-12">
            <input asp-for="ConfirmNewPassword" type="password" class="normal-input" value=""/>
            <span asp-validation-for="ConfirmNewPassword" class="text-danger"></span>
        </div>
    </div>
    <div class="col-12">
        <button type="submit" class="normal-button profile-sumbit-button">Set Password</button>
    </div>
</form>

    @section Scripts {
        <partial name="_ValidationScriptsPartial" />
}