<div class="dashboard-top-menu">
    <div class="dashboard-topmenu-dropdown-icon">
        <i class=" icon fa-solid fa-ellipsis-vertical fa-lg"></i>
    </div>

    <ul class="dashboard-nav">
        <li autofocus class="dashboard-navlinks selected" target="listedVehicles" tabindex="0">
            <span>Listed Vehicles</span>
        </li>

        <li class="dashboard-navlinks" target="soldListedVehicles" tabindex="0">
            <span>Sold Vehicles</span>
        </li>

        <li class="dashboard-navlinks" target="receivedIntents" tabindex="0">
            <span id="receivedIntentsNotification" class="intent-notification" style="display: none"><i class="fa-solid fa-exclamation"></i> New notifications</span>
            <span>Received Intents</span>
        </li>

        <li class="dashboard-navlinks" target="intentsMade" tabindex="0">
            <span>Sent Intents</span>
        </li>
    </ul>
</div>
